
            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="/work"About</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{site.url | prepend: site.baseurl}}/work">Work</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{site.url | prepend: site.baseurl}}/contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{site.url | prepend: site.baseurl}}/blog">Blog</a>
                    </li>
                </ul>
            </nav>


