
            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="{{ site.baseurl}}">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ site.baseurl}}work">Work</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ site.baseurl}}contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ site.baseurl}}blog">Blog</a>
                    </li>
                </ul>
            </nav>


